@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(10px);
  position: relative;
  background: url('./assets/Ellipse 2.png') no-repeat left top,url('./assets/Ellipse 3.png') no-repeat right top;
  height: 100vh, 40vh;
}